services:
  kanomnom-python-server:
    container_name: kanomnom-python-server
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        - PYTHON_VERSION=3.13
        - NODE_MAJOR=24
    ports:
      - "6969:6969"
      - "6968:3000"
    env_file:
      - ./apps/api/.env
    restart: unless-stopped
    networks:
      - proxy
      - database
    volumes:
      - /home/tarmily/kanomnom-server/kanomnom-python-server/apps/api/shopping_lists:/home/kanomnom-python-server/apps/api/shopping_lists
      - /home/tarmily/kanomnom-server/kanomnom-python-server/apps/api/request_dumps:/home/kanomnom-python-server/apps/api/request_dumps
networks:
  proxy:
    external: true
  database:
    external: true
