@import "tailwindcss";

html {
  font-variant-ligatures: none;
}

/* Completely hide the scrollbar */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari) */
}
